<!DOCTYPE html>
<html>
<head>
    <%= render partial: "shared/meta" %>
</head>
<body>

<%= render partial: "shared/admin" %>

<%= render partial: "shared/navigation" %>

<%= render partial: "shared/notifications" %>

<%= yield %>

<%= render partial: "shared/footer" %>

</body>
</html>
